NODE_ENV=development
VITE_FIREBASE_API_KEY=AABBCC
VITE_FIREBASE_AUTH_DOMAIN=sspp-staging.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=sspp-staging
VITE_FIREBASE_STORAGE_BUCKET=sspp-staging.appspot.com
VITE_FIREBASE_MESSAGING_SENDING_ID=12345
VITE_FIREBASE_APP_ID=1:123456
VITE_FIREBASE_MEASUREMENT_ID=G-12345
VITE_SQUARE_APP_ID=sandbox-12345
VITE_SQUARE_LOCATION_ID=loc
